<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>XComet Server Monitor</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/third_party/jquery.min.js"></script>
<script src="/js/third_party/bootstrap.min.js"></script>
<script src="/js/third_party/highcharts.js"></script>
<script src="/js/third_party/exporting.js"></script>
<script src="/js/third_party/socket.io.js"></script>
<script src="/js/base.js"></script>
<script src="/js/chart.js"></script>
</head>

<body style="padding-top: 70px">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        XComet Monitor
      </a>
    </div>
  </div>
</nav>
<div class="container">
