<script>
$(function() {
  var socket = io();
  var node_id = <%= node_id %>;
  console.log('node_id=' + node_id);

  function convertJsonToArray(data) {
    var throughput = data.info.throughput;
    var user_info = data.info.user;
    var req_info = data.info.request;
    var arr = [];
    arr.push(getMinuteOfTime(data.time));
    arr.push(data.delay + ' ms');
    arr.push(throughput.total_send_number);
    arr.push(throughput.total_send_bytes);
    arr.push(throughput.total_recv_number);
    arr.push(throughput.total_recv_bytes);
    arr.push(user_info.user_number);
    arr.push(user_info.connect);
    arr.push(user_info.reconnect);
    arr.push(user_info.disconnect);
    arr.push(req_info.Connect || 0);
    arr.push(req_info.Disonnect || 0);
    arr.push(req_info.Pub || 0);
    arr.push(req_info.Msg || 0);
    arr.push(req_info.Sub || 0);
    arr.push(req_info.Unsub || 0);
    arr.push(req_info.Shard || 0);
    arr.push(req_info.Stats || 0);
    arr.push(data.info.error_number);
    arr.push(data.info.auth_fail_number);
    arr.push(data.info.bad_request_number);
    arr.push(data.info.redirect_number);
    return arr;
  }

  socket.on('new stats', function(data) {
    if (data.node_id != node_id) {
      console.log('not for this node_id: ' + data.node_id);
      return;
    }
    console.log('new stats: ' + data);
    var tr_latest = $('#table .tr_latest');
    var data_arr = convertJsonToArray(data);
    if (tr_latest.length > 0) {
      tr_latest.attr('class', '');
      console.log('insert tr: ' + data_arr);
      tr_latest.before(buildNewTr(data_arr));
    } else {
      $('#table').append(buildNewTr(data_arr));
    }
  });
});
</script>

<% include table.html %>
